<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>

</head>
<body>
    <div id="Main">
        <Mymenu></Mymenu>
    </div>


    <script>
        // localStorage.setItem('token', 'U2');
        // // 跳转到下一个页面
        // window.location.href = './Text3.html';
        import Mymenu from "./Text3.html";

        const todoApp = Vue.createApp({
            data() {
                return {}
            },
            components: {
                Mymenu
            }
        }).mount("#Main");
    </script>
</body>
</html>